<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Personal Movie Database</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> 
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="~/css/simple-navbar-search.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
            </div>

            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (@ViewData["userName"] == null)
                    {
                        <li>
                            <a data-toggle="modal" data-target="#registerLoginModal" style="cursor:pointer">Login/Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @ViewData["UserName"]
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                            </ul>
                        </li>
                    }
                </ul>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" style="width:100%; max-width:100%;" placeholder="Search By Movie Title">
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove">
                                    <span class="sr-only">Close</span>
                                </span>
                            </button>

                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- Register/Login Modal -->
    <div id="registerLoginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="text-align: center">Welcome to Personal Movie Database!</h3>
                </div>
                <div class="modal-body">
                    <ul id="registerLoginTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#login" data-toggle="tab">Login</a>
                        </li>
                        <li>
                            <a href="#register" data-toggle="tab">Register</a>
                        </li>
                    </ul>
                    <!-- Register/Login Tab -->
                    <div id="registerLoginTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="login">
                            <form id="loginForm">
                                <div class="row" style="padding-top:5%;">                          
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>Username *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user fa" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" class="form-control" id="loginUsername" name="loginUsername"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">                                
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>Password *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                            </span>
                                            <input type="password" class="form-control" id="loginPassword" name="loginPassword"/>
                                        </div>
                                    </div>
                                </div>

                                <div id="loginErrorMessage" class="row hidden">
                                    <p class="text-danger" style="text-align:center">Sorry, Login Failed! Please Login Again!</p>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%; padding-top:14px">
                                        <input type="submit" id="loginSubmit" class="btn btn-primary form-control" value="Login" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="register">
                            <form id="registerUserForm">
                                <div class="row" style="padding-top:5%;">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>Username *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user fa" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" class="form-control" id="registerUserUsername"
                                                   name="registerUserUsername" autofocus/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>Password *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                            </span>
                                            <input type="password" class="form-control" id="registerUserPassword"
                                                   name="registerUserPassword"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>Confrim Password *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                            </span>
                                            <input type="password" class="form-control" id="registerUserPasswordConfirm"
                                                   name="registerUserPasswordConfirm"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>First Name *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-users fa" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" class="form-control" id="registerUserFirstName" name="registerUserFirstName"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>Last Name *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-users fa" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" class="form-control" id="registerUserLastName"
                                                   name="registerUserLastName"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%;">
                                        <label>Email *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope fa" aria-hidden="true"></i>
                                            </span>
                                            <input type="email" class="form-control" id="registerUserEmail"
                                                   name="registerUserEmail"/>
                                        </div>
                                    </div>
                                </div>

                                <div id="registerErrorMessage" class="row hidden">
                                    <p class="text-danger" style="text-align:center">Sorry, Register Failed! Please Register Again!</p>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12" style="padding-left:10%; padding-right: 10%; padding-top:14px">
                                        <input type="submit" id="registerUserSubmit" class="btn btn-primary form-control" value="Register" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="col-lg-12">
            <!-- Personal_Movie_Database -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0384487624654586"
                 data-ad-slot="4873342266"
                 data-ad-format="auto"></ins>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Yihang Wang</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script>
        // Reset Login & Register Form When Modal Hide
        $(function () {
            $('#registerLoginModal').on('hidden.bs.modal', function () {
                $('#loginForm').validate().resetForm();
                $('#loginForm')[0].reset();
                $('#loginErrorMessage').addClass("hidden");
                $('#registerUserForm').validate().resetForm();
                $('#registerUserForm')[0].reset();
                $('#registerErrorMessage').addClass("hidden");
                $('.form-group').removeClass('has-error');
            });
        })

        // Login Form Validate And Submit
        $(function () {
            $("#loginSubmit").click(function () {
                $("#loginForm").validate({
                    rules: {
                        loginUsername: {
                            required: true
                        },
                        loginPassword: {
                            required: true
                        }
                    },

                    messages: {
                        loginUsername: {
                            required: "* Username can't be blank"
                        },
                        loginPassword: {
                            required: "* Password can't be blank"
                        }
                    },

                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function (error, element) {
                        if (element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    },

                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },

                    submitHandler: function () {
                        // Post The Login Info To The Server
                        $.post("/Account/Login",
                            {
                                userName: $("#loginUsername").val(),
                                password: $("#loginPassword").val()
                            },
                            function (data) {
                                if (data == true) {
                                    location.reload();
                                }
                                else {
                                    $("#loginErrorMessage").removeClass("hidden");
                                }                  
                            });
                    }
                });
            });
        });

        // Register User Form Validate And Submit
        $(function () {
            $("#registerUserSubmit").click(function () {
                $("#registerUserForm").validate({
                    rules: {
                        registerUserUsername: {
                            required: true
                        },
                        registerUserPassword: {
                            required: true
                        },
                        registerUserPasswordConfirm: {
                            required: true,
                            equalTo: "#registerUserPassword"
                        },
                        registerUserFirstName: {
                            required: true
                        },
                        registerUserLastName: {
                            required: true
                        },
                        registerUserEmail: {
                            required: true,
                            email: true
                        }
                    },

                    messages: {
                        registerUserUsername: {
                            required: "* Username can't be blank"
                        },
                        registerUserPassword: {
                            required: "* Password can't be blank"
                        },
                        registerUserPasswordConfirm: {
                            required: "* Password confirmation can't be blank",
                            equalTo: "* Password confirmation not match"
                        },
                        registerUserFirstName: {
                            required: "* First name can't be blank"
                        },
                        registerUserLastName: {
                            required: "* Last name can't be blank"
                        },
                        registerUserEmail: {
                            required: "* Email can't be blank",
                            email: "* Email format is not valid"
                        }
                    },

                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function (error, element) {
                        if (element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    },

                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },

                    submitHandler: function () {
                        // Post The Register User Info To The Server
                        $.post("/Account/Register",
                            {
                                userName: $("#registerUserUsername").val(),
                                password: $("#registerUserPassword").val(),
                                firstName: $("#registerUserFirstName").val(),
                                lastName: $("#registerUserLastName").val(),
                                email: $("#registerUserEmail").val()
                            },
                            function (data) {
                                if (data == true) {
                                    location.reload();
                                }
                                else {
                                    $("#registerErrorMessage").removeClass("hidden");
                                }                  
                            });
                    }
                });
            });
        });

        // Search Bar
        $(function () {
            // Remove Search if user Resets Form or hits Escape!
            $('body, .navbar-collapse form[role="search"] button[type="reset"]').on('click keyup', function (event) {
                console.log(event.currentTarget);
                if (event.which == 27 && $('.navbar-collapse form[role="search"]').hasClass('active') ||
                    $(event.currentTarget).attr('type') == 'reset') {
                    closeSearch();
                }
            });

            function closeSearch() {
                var $form = $('.navbar-collapse form[role="search"].active')
                $form.find('input').val('');
                $form.removeClass('active');
            }

            // Show Search if form is not active // event.preventDefault() is important, this prevents the form from submitting
            $(document).on('click', '.navbar-collapse form[role="search"]:not(.active) button[type="submit"]', function (event) {
                event.preventDefault();
                var $form = $(this).closest('form'),
                    $input = $form.find('input');
                $form.addClass('active');
                $input.focus();
            });

            // if your form is ajax remember to call `closeSearch()` to close the search container
            $(document).on('click', '.navbar-collapse form[role="search"].active button[type="submit"]', function (event) {
                event.preventDefault();
                var $form = $(this).closest('form'),
                    $input = $form.find('input');
                if ($input.val().trim() != "") {
                    window.location.href = "/Home/SearchMovies?movieTitle=" + $input.val();
                }
                else {
                    closeSearch();
                }
            });
        });
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
